@page
@model Labb1Razor.Pages.AboutModel
@{
    ViewData["Title"] = "Om Sidan";
}

<h1>Om sidan/mig</h1>

<article class="about box-shadow">
    <div class="flex-container">
        <div>
            <!--Information om mig-->
            <p>
                Hej!<br><br>
                Mitt namn är Emma Forslund. Jag är en 27åring från norrland, som är bosatt i Stockholm sedan 5 år tillbaka. Jag studerar sista terminen på Mittuniversitets program Webbutveckling. På vinterhalvåret tycker jag om att se serier, laga mat och träna. På sommaren älskar jag att plocka svamp och hålla på med växter.
            </p>
        </div>

        <!--Bild på mig-->
        <div>

            <img src="~/bildpaemma.jpg" alt="bild på mig" />


        </div>
    </div>

</article>
