@page
@model Labb1Razor.Pages.RazorModel

@{
    //Sidans titel
    ViewData["Title"] = "Razor";

    //Dagens datum
    DateTime date = DateTime.Now;

    //Dagens veckodag
    DayOfWeek day = DateTime.Today.DayOfWeek;

    //Tom textsträng där olika text lagras baserat på om det är måndag eller inte
    string outputDay;

    //Gör om till sträng och skriver ut olika
    if (day.ToString() == "Monday")
    {
        outputDay = "Idag är det måndag!";
    }
    else
    {
        outputDay = "Idag är det inte måndag.";
    }

    //Array med kurser
    string[] listCourses = { "Programmering i C#.NET, DT071G", "Fullstack-utveckling med ramverk, DT193G", "Projektledning, IK060G", 
    "Webbdesign för CMS, DT197G", "Webbutveckling III, DT173G", "Databaser, DT003G", "Webbutveckling II, DT093G", "Webbanvändbarhet, DT068G", "Digital bildbehandling för webb, DT163G",
    "Webbutveckling I, DT057G", "Introduktion till programmering i JavaScript, DT084G"};
}

<div class="razor">
<h1>Razor</h1>

<h2>Information</h2>

<!--Skriver ut datum/klockslag-->
    <p class="p"> <b>Datum/Klockslag:</b> @date</p>

<!--Skriver ut om det är måndag eller inte-->
<p>@outputDay</p>

<h3>Kurser jag läst:</h3>


<ul>
    <!--Loopar igenom arrayen och skriver ut i lista-->
    @for (int i = 0; i < listCourses.Length; i++)
    {
        <li>@listCourses[i]</li>
    }
</ul>

</div>

