@{
    //Dagens datum
    var date = DateTime.Now.ToString("yyyy/MM/dd");
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Laboration 1.1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Labb1Razor.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/2090b52781.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <header>
            <div class="flex-header">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                    <!--Logotypen-->
                    <img src="~/razorlogo.svg" class="logo" alt="" />
                </a>
                <!--Här skrivs dagens datum ut-->
                <p class="date">Dagens datum är: @date</p>
            </div>
        </header>
        <div class="flexbox">
            <div class="flex-nav">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse">
                            <ul class="">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Start</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/About">Om Sidan</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>


            <!-- Här skrivs huvudinnehållet ut -->
            <div class="main box-shadow">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        <!--Footer-->
        <footer class="border-top footer">
            <p>Av Emma Forslund.Kontakta mig via e-post: emfo2102@student.miun.se</p>
        </footer>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>